{%extends "article_layout.html"%}
{%import "page.html" as page%}
{%block content%}
<table class="table table-bordered">
    <thead>
    <!--tr是行，th是标题-->
    <tr>
        <th>title</th>
        <th>catogety</th>
        <th>cover</th>
        <th>author</th>
        <th>posttime</th>
        <th>operation</th>
    </tr>
    </thead>
    {% for v in page_data.items%}
    <tr>
        <td>{{v.title}}</td>
        <td>{{category[v.category-1][1]}}</td>
        <td>
            <!--<img data-src="holder.js/75x40">-->
            <img src="/static/uploads/{{v.cover}}" style="width: 75px;height: 40px">
        </td>
        <td>{{session["user"]}}</td>
        <td>{{v.addtime}}</td>
        <td>
            <a href="{{url_for('art_edit',id=v.id)}}" class="btn btn-sm btn-outline-warning">edit</a>
            <a href="{{url_for('art_del',id=v.id)}}" class="btn btn-sm btn-outline-danger">delete</a>
        </td>
    </tr>
    {%endfor%}
</table>
<!--分页-->
{{page.page(page_data,'art_list')}}
{%endblock%}
{%block js%}
<script>
    $(document).ready(function () {
        $("#m2").addClass("active");
    });
</script>
{%endblock%}